//div[class^='col-'] {border: dashed 1px rgba(0,0,0,.3);}

.nobr {white-space: nowrap;}
ul,li {padding: 0; margin: 0;}
.gray-bg {background-color: #efefef;}
.padd0 {padding-left: 0; padding-right: 0;}
.paddL0 {padding-left: 0;}
.paddR0 {padding-right: 0;}

@font-face {
    font-family: ProximaNovaRegular;
    src: url("../fonts/ProximaNovaRegular.otf") format("opentype");
}
@font-face {
    font-family: ProximaNovaBlack;
    src: url("../fonts/ProximaNovaBlack.otf") format("opentype");
}
@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProximaNovaBold.otf") format("opentype");
}
$open: 'Open Sans', sans-serif;
$bold: ProximaNovaBold,'Open Sans', sans-serif;
$regular: ProximaNovaRegular,'Open Sans', sans-serif;

body {
    font-family: $open;
    font-size: 16px;
    color: #000;
}


input {
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    border-radius: 2px;
    line-height: 50px;
    padding: 0 30px;
    font-family: $open;
    font-size: 14px;
    width: 100%;
}
textarea {
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    border-radius: 2px;
    padding: 30px;
    font-family: $open;
    font-size: 14px;
}
.button {
    text-align: center;
    line-height: 50px;
    background-color: #25ba5d !important;
    color: #fff;
    border: none !important;
    font-family: $open;
    font-weight: 700;
    display: inline-block;
    padding: 0 10px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    &.yellow {
        color: #2f2510;
        background-color: #ffd800 !important;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    }
    &__wrap {text-align: center;}
}
a.button,a.button:hover,a.button:focus,a.button:active {color: #fff !important; text-decoration: none !important;}
a.button.yellow,a.button.yellow:hover,a.button.yellow:focus,a.button.yellow:active {color: #2f2510 !important; text-decoration: none;}

/*jquery slider*/
.ui-widget {
    border: none !important;
    background-color: #e0e0e0;
    border-radius: 0;
    height: 3px;
}
.ui-slider-handle,.ui-state-default, .ui-widget-content .ui-state-default {
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border: solid 3px #25ba5d;
    border-radius: 50%;
    top: -10px;
    outline: none;
}
.ui-slider-range-min {
    background-color: #25ba5d;
    border-radius: 0;
}

.table {display: table;}
.tr {display: table-row;}
.td {display: table-cell;}

.error {
    color: red;
    border: solid 1px red;
    //если объединить - криво работает
    &::-webkit-input-placeholder {
        opacity: 1 !important;
        color: red !important;
    }
    &:-ms-input-placeholder {
        opacity: 1 !important;
        color: red !important;
    }
    &::-moz-placeholder {
        opacity: 1 !important;
        color: red !important;
    }
    &:-moz-placeholder {
        opacity: 1 !important;
        color: red !important;
    }
}