$lg: 1200px;
$md: 992px;
//$sm: 768px;
$sm: 640px;
$xs: 320px;

@mixin lg {@media (min-width: #{$lg}) {@content;}}
@mixin md {@media (min-width: #{$md}) and (max-width: #{$lg - 1px}) {@content;}}
@mixin sm {@media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {@content;}}
@mixin md-sm {@media (min-width: #{$sm}) and (max-width: #{$lg - 1px}) {@content;}}
@mixin xs {@media (max-width: #{$sm - 1px}) {@content;}}

@include lg {
    .container {width: 940px;}
    .who {
        background: url("../img/layer-85.jpg") no-repeat 100% 100%;

        .button {
            width: 297px;
            line-height: 59px;
        }
    }
    .calc {
        h2 {margin: 27px 12% 45px 12%;}
        &__dohod {
            &-subhead {
                @for $i from 1 through 4 {
                    &#{$i} {
                        width: 150px;
                        height: 47px;
                        margin: 0 auto;
                    }
                }
                &2,&3 {width: 120px;}
            }
            //&-sum {margin-top: 0px;}
        }
    }
    .getdoc__padd {padding-right: 0;}
}
//@include md {}

@include md-sm {
    .container {width: 640px;}
    .mabo40md {margin-bottom: 40px;}
    .header {
        &__logo {
            .logo {width: 167px;}
            span {display: none;}
        }
        &__phone {font-size: 16px;}
        &__right {
            text-align: left;
        }
    }
    .teaser {
        background: none;
        margin: 15px 0 0;
        h2 {
            font-size: 26px;
            line-height: 1.5;
            margin: 21px 0 9px;
        }
        padding-top: 0;
        .container {
            background: url("../img/teaser_bg640.jpg") no-repeat 0 0;
            min-height: 302px;
        }
        li {
            font-size: 16px;
            padding-left: 25px;
            line-height: 2.1;
            &:before {width: 17px;}
        }
    }
    .getpresent {
        padding: 17px 0 13px;
        h2 {margin-bottom: 26px;}
        input {
            margin-bottom: 10px;
            line-height: 55px;
        }

    }
    .who {
        padding-bottom: 20px;
        h2 {
            font-size: 24px;
            margin: 41px 0 34px;
        }
        p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 40px;
        }
        .button {width: 100%;}
        &__margin-text {
            margin-top: -14px;
        }
    }
    .calc {
        h2 {
            font-size: 24px;
            margin: 4px 0 50px;
        }
        &__input {
            font-size: 18px;
            margin-bottom: 27px;
        }
        &__slider-desc {margin-top: 24px;}
        &__slider1 {padding-right: 0; margin-bottom: 36px;}
        &__slider2 {padding-left: 15px;}
        &__padding {
            padding: 27px 20px 27px 10px;
        }
        &__head,&__head2 {
            margin: 30px 0 15px;
            font-size: 14px;
            &:before,&:after {content: normal;}
        }
        &__head2 {
            margin: 30px 0 0;
        }
        &__total {
            font-size: 18px;
            span {font-size: 38px;}
        }
        .mabo40md {
            margin-bottom: 35px;
        }
    }
    .besure {
        h2 {
            font-size: 24px;
            margin: 28px 0 57px;
            div {font-size: 18px;}
        }
        h3 {font-size: 18px;}
        p {font-size: 14px;}
    }
    .getdoc {
        h2 {font-size: 20px; margin: 16px 0 31px;}
        input {
            margin-bottom: 8px;
            line-height: 57px;
        }
        p {margin-top: 39px;}
        .button {width: 100%;}
    }
    .profit {
        h2 {font-size: 24px; margin: 5px 0 63px;}
        h4 {
            font-size: 18px;
            margin: -40px 0 30px 0;
        }
        li {font-size: 14px;}
        .date {
            font-size: 18px;
            line-height: 1.1em;
            div {font-size: 10px;}
        }
        .left {
            ul {margin-left: 80px;}
            h4 {margin-left: 60px;}
        }
        .td {padding-bottom: 79px;}
    }
    .leaveorder {
        &__wrap {padding: 25px 35px;}
        h2 {font-size: 20px; margin: 0;}
        .button {
            width: 100%;
            &__wrap {margin-bottom: 0;}
        }
    }
    .faq {
        padding: 10px 0 12px;
        h2 {font-size: 24px; margin: 17px 0 29px;}
        h4 {font-size: 16px;}
        .panel-body {font-size: 14px;}
    }
    .weare {
        h2 {font-size: 24px; margin-top: 6px;}
        h4 {font-size: 18px;}
        ul {margin: 26px 9px 30px 50px;}
        li {font-size: 12px;}
        &__sub {font-size: 14px;}
        &__card {padding: 20px 0;}
    }
    .map {
        &__form {
            max-width: 100%;
            width: 100%;
        }
    }
    .footer {
        &__non-xs-ul {margin-top: 22px;}

    }
}

@include sm {
    .container {width: 640px;}
}

@include xs {
    .container {width: 320px;}
    .row {margin: 0;}
    .header {
        padding: 25px 0 0;
        &__logo {
            .logo {width: 167px; margin-bottom: 20px;}
            span {display: none;}
        }
        &__right {
            text-align: left;
        }
        &__slogan {font-size: 10px;}
        &__phone {font-size: 16px;}
        &__xs {
            border-top: solid 1px #e9e9e9;
            padding: 8px 20px 15px;
        }
    }
    .teaser {
        background: none;
        padding: 0 0 15px;
        margin-top: 0;
        h2 {
            font-size: 22px;
            line-height: 33px;
            margin: 24px 0 14px 0;

        }
        .container {
            background: url("../img/teaser_bg640.jpg") no-repeat 90% 120%;
            min-height: 420px;
        }
        li {
            font-size: 14px;
            padding-left: 25px;
            &:before {width: 17px;}
        }
    }
    .getpresent {
        padding-top: 0;
        h2 {font-size: 18px; margin: 28px 0 25px}
        input {
            margin-bottom: 8px;
            line-height: 57px;
        }
    }
    .who {
        h2 {font-size: 22px; margin: 26px 0;}
        p {font-size: 14px; line-height: 1.5;}
        .button {width: 100%; margin-bottom: 0px;}
        //&__margin-xs {margin-bottom: 20px;}
    }
    .calc {
        padding: 24px 0 55px;
        h2 {font-size: 24px; margin-top: 3px;}
        &__input {
            font-size: 16px;
            margin: 30px 0;
        }
        &__slider-desc {margin-top: 25px;}
        &__slider1 {padding-right: 15px;}
        &__slider2 {padding-left: 16px;}
        &__head,&__head2 {
            margin: 30px 0 15px;
            font-size: 14px;
            padding: 0;
            &:before,&:after {content: normal;}
        }
        &__head2 {
            margin: 30px 0 0;
        }
        &__total {
            font-size: 18px;
            margin-bottom: 26px;
            span {font-size: 36px;}
        }
        &__container .container {width: 100%;}
        &__padd0 {padding: 0;}
        &__padding {padding: 0;}
        .mabo40md {margin-bottom: 40px;}
        &__return {
            line-height: normal;
            background: url("../img/reds2.png") repeat-x;
            height: 75px;
            font-size: 14px;
            padding-top: 20px;
        }
    }
    .besure {
        padding: 26px 0;
        h2 {
            font-size: 22px;
            line-height: 1.6;
            margin: 2px 0 36px 0;
            div {font-size: 18px;}
        }
        h3 {font-size: 18px;}
        p {font-size: 14px;}
        hr {margin: 20px 0 30px;}
    }
    .getdoc {
        padding: 13px 0 12px;

        h2 {font-size: 20px; margin: 12px 0 22px 0;}
        input {margin-bottom: 8px; line-height: 57px;}
        .button {width: 100%;}
    }
    .profit {
        h2 {font-size: 22px; margin: 8px 0 35px;}
        h4 {
            font-size: 18px;
            text-align: center;
            margin: 0 0 15px 0;
        }
        ul {padding: 0 20px;}
        li {font-size: 14px;}
        .table,.tr,.td {display: block; width: 100%; padding: 0;}

        .tr:nth-child(2n) .td:last-of-type,
        .tr:nth-child(2n-1) .td:first-of-type
        {
            border:none;
        }
        .tr .td:first-of-type {border: none;}
        .date {
            border: none;
            position: relative;
            display: inline-block;
            padding: 0 45px;
            text-align: center;
            width: auto;
            font-family: $bold;
            background-color: transparent;
            font-size: 12px;
            right: auto !important;
            left: auto !important;
            top: auto !important;
            height: auto;

            &:before,&:after {
                content: "";
                position: absolute;
                width: 29px;
                height: 1px;
                background-color: #c4c4c4;
                top: 50%;
                top: calc(50% - 1px);
                left:0;
            }
            &:after {
                left: auto;
                right: 0;
            }
            div {
                font-family: $bold;
                font-size: 12px;
                display: inline-block;
            }
            &-xs {
                text-align: center;
                margin: 40px 0 20px;
            }

        }
        .right {
            .date {right: auto;}
            ul {margin: 0;}
        }
        .left {
            .date {left: auto;}
            ul {margin: 0;}
            h4 {margin: 0 0 24px 0;}
        }
    }
    .leaveorder {
        &__wrap {padding: 25px;}
        h2 {font-size: 18px; margin: 0;}
        .button {
            width: 100%;
            &__wrap {margin-bottom: 0;}
        }
    }
    .faq {
        padding: 10px 0 0;
        h2 {font-size: 22px; margin: 13px 0 18px;}

        h4 {font-size: 16px;}
        .panel-body {font-size: 14px;}
    }
    .weare {
        padding: 10px 0 50px;
        h2 {font-size: 22px; margin: 16px 0 30px;}
        h4 {font-size: 18px; margin: 19px 0 0;}
        &__sub {font-size: 14px; margin: 7px 40px;}
        ul {margin: 26px 5px 30px 50px;}
        &__ask {
            left: auto;
            font-size: 12px;
            &-wrap {
                position: relative;
                left: auto;
                display: block;
            }
        }
        &__card {padding: 20px 0;}
    }
    .map {
        h4 {font-size: 18px;}
        p {font-size: 14px;}
        &__form {
            max-width: 100%;
            width: 100%;
        }
    }
    .footer {
        .logo {margin-bottom: 40px;}
        .visible-xs ul {margin-top: 24px;}
    }
}
