.nobr {
  white-space: nowrap; }

ul, li {
  padding: 0;
  margin: 0; }

.gray-bg {
  background-color: #efefef; }

.padd0 {
  padding-left: 0;
  padding-right: 0; }

.paddL0 {
  padding-left: 0; }

.paddR0 {
  padding-right: 0; }

@font-face {
  font-family: ProximaNovaRegular;
  src: url("../fonts/ProximaNovaRegular.otf") format("opentype"); }
@font-face {
  font-family: ProximaNovaBlack;
  src: url("../fonts/ProximaNovaBlack.otf") format("opentype"); }
@font-face {
  font-family: ProximaNovaBold;
  src: url("../fonts/ProximaNovaBold.otf") format("opentype"); }
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #000; }

input {
  background-color: #ffffff;
  border: solid 1px #dbdbdb;
  border-radius: 2px;
  line-height: 50px;
  padding: 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 100%; }

textarea {
  background-color: #ffffff;
  border: solid 1px #dbdbdb;
  border-radius: 2px;
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

.button {
  text-align: center;
  line-height: 50px;
  background-color: #25ba5d !important;
  color: #fff;
  border: none !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 0 10px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px; }
  .button.yellow {
    color: #2f2510;
    background-color: #ffd800 !important;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15); }
  .button__wrap {
    text-align: center; }

a.button, a.button:hover, a.button:focus, a.button:active {
  color: #fff !important;
  text-decoration: none !important; }

a.button.yellow, a.button.yellow:hover, a.button.yellow:focus, a.button.yellow:active {
  color: #2f2510 !important;
  text-decoration: none; }

/*jquery slider*/
.ui-widget {
  border: none !important;
  background-color: #e0e0e0;
  border-radius: 0;
  height: 3px; }

.ui-slider-handle, .ui-state-default, .ui-widget-content .ui-state-default {
  width: 23px;
  height: 23px;
  background-color: #ffffff;
  border: solid 3px #25ba5d;
  border-radius: 50%;
  top: -10px;
  outline: none; }

.ui-slider-range-min {
  background-color: #25ba5d;
  border-radius: 0; }

.table {
  display: table; }

.tr {
  display: table-row; }

.td {
  display: table-cell; }

.error {
  color: red;
  border: solid 1px red; }
  .error::-webkit-input-placeholder {
    opacity: 1 !important;
    color: red !important; }
  .error:-ms-input-placeholder {
    opacity: 1 !important;
    color: red !important; }
  .error::-moz-placeholder {
    opacity: 1 !important;
    color: red !important; }
  .error:-moz-placeholder {
    opacity: 1 !important;
    color: red !important; }

.header {
  padding-top: 25px; }
  .header__logo {
    font-size: 12px;
    white-space: nowrap; }
    .header__logo span {
      margin: 5px 0 0 13px;
      display: inline-block; }
  .header__right {
    text-align: right;
    white-space: nowrap; }
    .header__right span {
      vertical-align: middle; }
  .header__phone {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 22px;
    margin-left: 24px; }
    .header__phone a {
      color: #000;
      text-decoration: none; }
      .header__phone a:hover, .header__phone a:active, .header__phone a:focus {
        text-decoration: underline; }
  .header__slogan {
    font-size: 12px; }
  .header hr {
    margin: 7px 0 12px; }
  .header ul {
    margin: 0;
    width: 100%;
    padding: 0; }
  .header li {
    float: left;
    list-style-type: none;
    text-align: center;
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 14px;
    margin-right: 45px; }
    .header li a, .header li a:hover, .header li a:focus, .header li a:active {
      color: #000; }
    .header li:last-of-type {
      margin: 0; }
    .header li:first-of-type {
      text-align: left; }
  .header__presentation {
    text-align: right;
    white-space: nowrap;
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 14px; }
    .header__presentation img {
      margin-right: 12px; }
    .header__presentation a {
      color: #000; }

.teaser {
  background: url("../img/teaser_bg.jpg") no-repeat 100% 0;
  margin: 15px 0 60px;
  position: relative;
  padding-top: 10px; }
  .teaser__gradient {
    width: 100%;
    height: 28px;
    background-image: linear-gradient(to top, #ffffff, #f5f5f5);
    position: absolute;
    top: 0;
    left: 0; }
  .teaser h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 40px;
    line-height: 60px;
    margin: 50px 0 25px 0; }
  .teaser li {
    list-style-type: none;
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 2.2;
    padding-left: 50px;
    position: relative; }
    .teaser li:before {
      content: '';
      position: absolute;
      width: 27px;
      height: 2px;
      background-color: #a72428;
      top: 50%;
      top: calc(50% - 2px);
      left: 0; }

.getpresent {
  background-color: #efefef;
  padding: 23px 0 13px; }
  .getpresent h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 33px; }
  .getpresent p {
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 19px; }
    .getpresent p a, .getpresent p a:hover, .getpresent p a:focus, .getpresent p a:active {
      color: #b0b0b0; }
    .getpresent p a {
      text-decoration: underline; }
    .getpresent p a:hover {
      text-decoration: none; }

.who {
  padding-bottom: 37px; }
  .who h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    margin: 60px 0 10px; }
  .who p {
    line-height: 24px; }
  .who .button__wrap {
    text-align: left; }
  .who__margin-text {
    margin-top: 30px; }

.calc {
  background-color: #efefef;
  padding: 24px 0 70px; }
  .calc__padding {
    padding: 51px 43px 43px 43px; }
  .calc__container .container {
    border-radius: 3px;
    background-color: #fff;
    padding: 0; }
  .calc h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    text-align: center; }
  .calc__input {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 33px; }
  .calc__slider1 {
    padding-right: 0; }
  .calc__slider2 {
    padding-left: 0; }
  .calc__slider-desc {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    font-weight: bold; }
  .calc__head, .calc__head2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 110px;
    position: relative;
    margin: 70px 0 50px; }
    .calc__head:before, .calc__head:after, .calc__head2:before, .calc__head2:after {
      content: "";
      position: absolute;
      width: 90px;
      height: 1px;
      background-color: #c4c4c4;
      top: 50%;
      top: calc(50% - 1px);
      left: 0; }
    .calc__head:after, .calc__head2:after {
      left: auto;
      right: 0; }
  .calc__head {
    margin-top: 60px;
    margin-bottom: 37px; }
  .calc__head2 {
    margin: 44px 0 10px; }
  .calc__dohod-head {
    font-size: 14px;
    text-align: center; }
  .calc__dohod-sum {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center; }
    .calc__dohod-sum span {
      font-size: 24px; }
  .calc__arrow {
    background: url("../img/arrow_right.png") no-repeat 100% 50%; }
  .calc__total {
    margin-bottom: 20px;
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 18px;
    text-transform: uppercase; }
    .calc__total span {
      font-size: 48px; }
  .calc__return {
    display: none;
    background: url("../img/reds.png") repeat-x;
    line-height: 58px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .calc__return a {
      color: #fff;
      text-decoration: none;
      display: block; }
      .calc__return a:hover, .calc__return a:focus, .calc__return a:active {
        text-decoration: none;
        color: #fff; }

.besure {
  padding: 26px 0 93px; }
  .besure h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    line-height: 1.7;
    text-align: center;
    margin: 23px 0 60px; }
    .besure h2 div {
      font-family: ProximaNovaRegular, "Open Sans", sans-serif;
      font-size: 24px; }
  .besure h3 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px; }
  .besure img {
    margin: 0 auto; }
  .besure hr {
    margin: 50px 0; }

.getdoc {
  background-color: #2ba95a;
  color: #fff;
  padding: 13px 0 15px; }
  .getdoc h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 47px; }
  .getdoc p {
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 37px; }
    .getdoc p a, .getdoc p a:hover, .getdoc p a:focus, .getdoc p a:active {
      color: #fff; }
    .getdoc p a {
      text-decoration: underline; }
    .getdoc p a:hover {
      text-decoration: none; }
  .getdoc .button {
    width: 100%; }

.compare {
  background-color: #efefef;
  padding: 40px 0; }
  .compare h2 {
    text-align: center;
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    margin: 18px 0 53px; }
  .compare__table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }
    .compare__table .row {
      display: none;
      margin: 50px 0 30px; }
    .compare__table .button {
      width: 100%; }
    .compare__table > div {
      display: table-row;
      background-color: #fff;
      color: #454545; }
      .compare__table > div:first-of-type > div {
        font-weight: bold;
        color: #000; }
      .compare__table > div:last-of-type > div {
        border-bottom: none; }
      .compare__table > div:last-of-type div {
        background-color: #efefef;
        border: none; }
      .compare__table > div:last-of-type div:nth-child(3n) {
        border-top: none;
        padding: 10px 20px; }
      .compare__table > div:nth-child(7n) div:nth-child(3n) {
        border-bottom: none; }
      .compare__table > div > div {
        width: 22%;
        display: table-cell;
        border: solid 1px #e2e2e2;
        text-align: center;
        padding: 30px;
        vertical-align: middle; }
        .compare__table > div > div:first-of-type {
          text-align: left;
          font-weight: bold;
          color: #000; }
        .compare__table > div > div:nth-child(3) {
          width: 34%;
          background-color: #f9f4d6;
          font-weight: bold; }
    .compare__table a, .compare__table a:hover, .compare__table a:focus, .compare__table a:active {
      color: #2ba95a;
      font-size: 11px;
      text-decoration: underline;
      text-transform: uppercase; }
    .compare__table a:hover {
      text-decoration: none; }

.profit {
  padding: 25px 0 0; }
  .profit .table {
    display: table;
    width: 100%; }
  .profit .tr {
    display: table-row; }
    .profit .tr:last-of-type .td {
      padding-bottom: 0; }
  .profit .td {
    display: table-cell;
    width: 50%;
    position: relative;
    padding-bottom: 94px; }
  .profit h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    text-align: center;
    margin: 18px 0 88px; }
  .profit h4 {
    margin: -50px 0 40px 0;
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px; }
  .profit ul {
    margin-left: 20px;
    color: #25ba5d; }
  .profit li {
    color: #25ba5d;
    margin-bottom: 12px; }
    .profit li span {
      color: #454545; }
  .profit .tr:nth-child(2n) .td:last-of-type,
  .profit .tr:nth-child(2n-1) .td:first-of-type {
    border-top: solid 2px #25ba5d; }
  .profit .tr:last-of-type .td:last-of-type {
    border-top: none; }
  .profit .tr .td:first-of-type {
    border-right: solid 2px #e2e2e2; }
  .profit .date {
    position: absolute;
    top: -30px;
    width: 60px;
    height: 60px;
    text-align: center;
    border: solid 2px #25ba5d;
    background-color: white;
    color: #636363;
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 0.8em;
    border-radius: 5px;
    text-transform: uppercase;
    padding-top: 10px; }
    .profit .date div {
      font-family: ProximaNovaRegular, "Open Sans", sans-serif;
      font-size: 10px; }
  .profit .right .date {
    right: -30px; }
  .profit .right ul {
    margin-right: 50px; }
  .profit .left .date {
    left: -32px; }
  .profit .left ul {
    margin-left: 100px; }
  .profit .left h4 {
    margin-left: 80px; }

.leaveorder {
  margin-bottom: 40px; }
  .leaveorder__wrap {
    background-color: #2ba95a;
    border-radius: 5px;
    padding: 19px 10% 28px; }
  .leaveorder .button {
    width: 300px; }
  .leaveorder h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 45px; }

.faq {
  background-color: #efefef;
  padding: 40px 0 55px; }
  .faq h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    text-align: center;
    color: #000;
    margin: 17px 0 46px; }
  .faq a, .faq a:hover, .faq :active, .faq a:focus {
    color: #000;
    text-decoration: none; }
  .faq h4 {
    background: url("../img/arrow_down.png") no-repeat 99% 50%;
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 20px;
    margin: 0; }
  .faq .arrow {
    background: url("../img/arrow_up.png") no-repeat 99% 50% !important; }
  .faq .panel {
    background-color: #fff;
    border-radius: 5px;
    padding: 23px;
    margin-bottom: 20px; }
    .faq .panel-body {
      color: #454545;
      margin-top: 20px; }

.weare {
  padding: 35px 0 50px; }
  .weare h2 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    text-align: center;
    color: #000;
    margin: 17px 0 41px; }
  .weare h4 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 21px 0 6px; }
  .weare__sub {
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 16px;
    color: #555;
    text-align: center;
    margin: 0 40px; }
  .weare img {
    margin: 0 auto;
    border-radius: 50%;
    width: 80px; }
  .weare__card {
    border: solid 1px #eaeaea;
    border-radius: 5px;
    padding: 30px 0;
    position: relative; }
    .weare__card > p {
      text-align: center; }
  .weare ul {
    margin: 40px 10px 50px 43px; }
  .weare li {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #2ba95a;
    margin-bottom: 10px; }
    .weare li span {
      color: #000; }
  .weare__ask {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #25ba5d;
    font-size: 14px;
    padding-left: 20px;
    background: url("../img/ask_green.png") no-repeat 0 50%;
    left: -50%;
    left: calc(-50% - 10px);
    position: relative;
    white-space: nowrap; }
    .weare__ask-wrap {
      position: absolute;
      bottom: 0;
      text-align: center;
      left: 50%; }

.map {
  position: relative;
  height: 640px;
  margin-bottom: 45px; }
  .map .gmaps_labels {
    background-color: white;
    padding: 30px;
    font-size: 16px;
    white-space: nowrap; }
  .map_place {
    position: absolute;
    height: 640px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1; }
  .map__form {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 5px;
    padding: 35px 35px 25px 35px;
    max-width: 380px;
    background-color: #f7f7f7;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15); }
    .map__form h4 {
      font-family: ProximaNovaBold, "Open Sans", sans-serif;
      font-size: 24px;
      margin: 0; }
    .map__form p {
      color: #363636; }
    .map__form textarea {
      width: 100%;
      margin-bottom: 10px;
      height: 120px; }
    .map__form input {
      width: 100%;
      margin-bottom: 20px; }
    .map__form .button {
      font-weight: 700; }
  .map__small {
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 12px;
    color: #9c9a9a !important; }
    .map__small a, .map__small a:hover, .map__small a:focus, .map__small a:active {
      color: #9c9a9a; }
    .map__small a {
      text-decoration: underline; }
    .map__small a:hover {
      text-decoration: none; }

.footer {
  margin-bottom: 20px; }
  .footer__small {
    font-size: 12px;
    color: #7c7c7c;
    margin-top: 30px; }
  .footer ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 2;
    white-space: nowrap; }
    .footer ul a {
      color: #7c7c7c; }
  .footer__phone {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px;
    color: #363636; }
    .footer__phone a {
      color: #363636;
      text-decoration: none; }
      .footer__phone a:hover, .footer__phone a:active, .footer__phone a:focus {
        text-decoration: underline; }
    .footer__phone-desc {
      font-family: ProximaNovaRegular, "Open Sans", sans-serif;
      font-size: 14px;
      color: #7c7c7c; }

#modal_return, #modal_callback {
  border: solid 1px #dbdbdb;
  width: 720px;
  margin: 50px auto;
  border-radius: 4px; }
  #modal_return .table, #modal_callback .table {
    width: 100%; }
  #modal_return .td, #modal_callback .td {
    padding: 40px;
    width: 50%;
    vertical-align: top;
    background-color: #fff; }
    #modal_return .td:first-of-type, #modal_callback .td:first-of-type {
      border-right: solid 1px #dbdbdb; }
    #modal_return .td:last-of-type, #modal_callback .td:last-of-type {
      background-color: #f7f7f7; }
  #modal_return h4, #modal_callback h4 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 32px;
    margin: 0 0 10px 0; }
  #modal_return h5, #modal_callback h5 {
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    font-size: 24px;
    margin: 0 0 20px 0; }
  #modal_return p, #modal_callback p {
    margin-top: 0; }
  #modal_return input, #modal_return label, #modal_return .button, #modal_callback input, #modal_callback label, #modal_callback .button {
    display: block;
    width: 100%; }
  #modal_return form, #modal_callback form {
    margin-top: 25px; }
  #modal_return .modal-input, #modal_callback .modal-input {
    font-weight: normal;
    margin-bottom: 14px; }
  #modal_return .modal-info, #modal_callback .modal-info {
    font-family: ProximaNovaRegular, "Open Sans", sans-serif;
    font-size: 12px;
    color: #9c9a9a;
    margin-top: 22px; }
    #modal_return .modal-info a, #modal_return .modal-info a:hover, #modal_return .modal-info a:active, #modal_return .modal-info a:focus, #modal_callback .modal-info a, #modal_callback .modal-info a:hover, #modal_callback .modal-info a:active, #modal_callback .modal-info a:focus {
      color: #9c9a9a; }
    #modal_return .modal-info a, #modal_callback .modal-info a {
      text-decoration: underline; }
    #modal_return .modal-info a:hover, #modal_callback .modal-info a:hover {
      text-decoration: none; }
  #modal_return .modal-wrap, #modal_callback .modal-wrap {
    padding: 20px 30px; }
  #modal_return .form-hidden, #modal_callback .form-hidden {
    display: none; }

#modal_callback .td {
  border-right: none !important;
  background-color: #fff !important;
  padding: 0; }
  #modal_callback .td:first-of-type {
    padding-right: 20px; }

.fancybox-close-small:after {
  content: "";
  background: url(../img/x.png) no-repeat;
  top: 15px;
  right: 15px;
  opacity: 0.5; }
.fancybox-close-small:hover:after {
  background: url(../img/x.png) no-repeat;
  opacity: 1; }
.fancybox-slide > div {
  padding: 0; }

@media (min-width: 1200px) {
  .container {
    width: 940px; }

  .who {
    background: url("../img/layer-85.jpg") no-repeat 100% 100%; }
    .who .button {
      width: 297px;
      line-height: 59px; }

  .calc h2 {
    margin: 27px 12% 45px 12%; }
  .calc__dohod-subhead1 {
    width: 150px;
    height: 47px;
    margin: 0 auto; }
  .calc__dohod-subhead2 {
    width: 150px;
    height: 47px;
    margin: 0 auto; }
  .calc__dohod-subhead3 {
    width: 150px;
    height: 47px;
    margin: 0 auto; }
  .calc__dohod-subhead4 {
    width: 150px;
    height: 47px;
    margin: 0 auto; }
  .calc__dohod-subhead2, .calc__dohod-subhead3 {
    width: 120px; }

  .getdoc__padd {
    padding-right: 0; } }
@media (min-width: 640px) and (max-width: 1199px) {
  .container {
    width: 640px; }

  .mabo40md {
    margin-bottom: 40px; }

  .header__logo .logo {
    width: 167px; }
  .header__logo span {
    display: none; }
  .header__phone {
    font-size: 16px; }
  .header__right {
    text-align: left; }

  .teaser {
    background: none;
    margin: 15px 0 0;
    padding-top: 0; }
    .teaser h2 {
      font-size: 26px;
      line-height: 1.5;
      margin: 21px 0 9px; }
    .teaser .container {
      background: url("../img/teaser_bg640.jpg") no-repeat 0 0;
      min-height: 302px; }
    .teaser li {
      font-size: 16px;
      padding-left: 25px;
      line-height: 2.1; }
      .teaser li:before {
        width: 17px; }

  .getpresent {
    padding: 17px 0 13px; }
    .getpresent h2 {
      margin-bottom: 26px; }
    .getpresent input {
      margin-bottom: 10px;
      line-height: 55px; }

  .who {
    padding-bottom: 20px; }
    .who h2 {
      font-size: 24px;
      margin: 41px 0 34px; }
    .who p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 40px; }
    .who .button {
      width: 100%; }
    .who__margin-text {
      margin-top: -14px; }

  .calc h2 {
    font-size: 24px;
    margin: 4px 0 50px; }
  .calc__input {
    font-size: 18px;
    margin-bottom: 27px; }
  .calc__slider-desc {
    margin-top: 24px; }
  .calc__slider1 {
    padding-right: 0;
    margin-bottom: 36px; }
  .calc__slider2 {
    padding-left: 15px; }
  .calc__padding {
    padding: 27px 20px 27px 10px; }
  .calc__head, .calc__head2 {
    margin: 30px 0 15px;
    font-size: 14px; }
    .calc__head:before, .calc__head:after, .calc__head2:before, .calc__head2:after {
      content: normal; }
  .calc__head2 {
    margin: 30px 0 0; }
  .calc__total {
    font-size: 18px; }
    .calc__total span {
      font-size: 38px; }
  .calc .mabo40md {
    margin-bottom: 35px; }

  .besure h2 {
    font-size: 24px;
    margin: 28px 0 57px; }
    .besure h2 div {
      font-size: 18px; }
  .besure h3 {
    font-size: 18px; }
  .besure p {
    font-size: 14px; }

  .getdoc h2 {
    font-size: 20px;
    margin: 16px 0 31px; }
  .getdoc input {
    margin-bottom: 8px;
    line-height: 57px; }
  .getdoc p {
    margin-top: 39px; }
  .getdoc .button {
    width: 100%; }

  .profit h2 {
    font-size: 24px;
    margin: 5px 0 63px; }
  .profit h4 {
    font-size: 18px;
    margin: -40px 0 30px 0; }
  .profit li {
    font-size: 14px; }
  .profit .date {
    font-size: 18px;
    line-height: 1.1em; }
    .profit .date div {
      font-size: 10px; }
  .profit .left ul {
    margin-left: 80px; }
  .profit .left h4 {
    margin-left: 60px; }
  .profit .td {
    padding-bottom: 79px; }

  .leaveorder__wrap {
    padding: 25px 35px; }
  .leaveorder h2 {
    font-size: 20px;
    margin: 0; }
  .leaveorder .button {
    width: 100%; }
    .leaveorder .button__wrap {
      margin-bottom: 0; }

  .faq {
    padding: 10px 0 12px; }
    .faq h2 {
      font-size: 24px;
      margin: 17px 0 29px; }
    .faq h4 {
      font-size: 16px; }
    .faq .panel-body {
      font-size: 14px; }

  .weare h2 {
    font-size: 24px;
    margin-top: 6px; }
  .weare h4 {
    font-size: 18px; }
  .weare ul {
    margin: 26px 9px 30px 50px; }
  .weare li {
    font-size: 12px; }
  .weare__sub {
    font-size: 14px; }
  .weare__card {
    padding: 20px 0; }

  .map__form {
    max-width: 100%;
    width: 100%; }

  .footer__non-xs-ul {
    margin-top: 22px; } }
@media (min-width: 640px) and (max-width: 991px) {
  .container {
    width: 640px; } }
@media (max-width: 639px) {
  .container {
    width: 320px; }

  .row {
    margin: 0; }

  .header {
    padding: 25px 0 0; }
    .header__logo .logo {
      width: 167px;
      margin-bottom: 20px; }
    .header__logo span {
      display: none; }
    .header__right {
      text-align: left; }
    .header__slogan {
      font-size: 10px; }
    .header__phone {
      font-size: 16px; }
    .header__xs {
      border-top: solid 1px #e9e9e9;
      padding: 8px 20px 15px; }

  .teaser {
    background: none;
    padding: 0 0 15px;
    margin-top: 0; }
    .teaser h2 {
      font-size: 22px;
      line-height: 33px;
      margin: 24px 0 14px 0; }
    .teaser .container {
      background: url("../img/teaser_bg640.jpg") no-repeat 90% 120%;
      min-height: 420px; }
    .teaser li {
      font-size: 14px;
      padding-left: 25px; }
      .teaser li:before {
        width: 17px; }

  .getpresent {
    padding-top: 0; }
    .getpresent h2 {
      font-size: 18px;
      margin: 28px 0 25px; }
    .getpresent input {
      margin-bottom: 8px;
      line-height: 57px; }

  .who h2 {
    font-size: 22px;
    margin: 26px 0; }
  .who p {
    font-size: 14px;
    line-height: 1.5; }
  .who .button {
    width: 100%;
    margin-bottom: 0px; }

  .calc {
    padding: 24px 0 55px; }
    .calc h2 {
      font-size: 24px;
      margin-top: 3px; }
    .calc__input {
      font-size: 16px;
      margin: 30px 0; }
    .calc__slider-desc {
      margin-top: 25px; }
    .calc__slider1 {
      padding-right: 15px; }
    .calc__slider2 {
      padding-left: 16px; }
    .calc__head, .calc__head2 {
      margin: 30px 0 15px;
      font-size: 14px;
      padding: 0; }
      .calc__head:before, .calc__head:after, .calc__head2:before, .calc__head2:after {
        content: normal; }
    .calc__head2 {
      margin: 30px 0 0; }
    .calc__total {
      font-size: 18px;
      margin-bottom: 26px; }
      .calc__total span {
        font-size: 36px; }
    .calc__container .container {
      width: 100%; }
    .calc__padd0 {
      padding: 0; }
    .calc__padding {
      padding: 0; }
    .calc .mabo40md {
      margin-bottom: 40px; }
    .calc__return {
      line-height: normal;
      background: url("../img/reds2.png") repeat-x;
      height: 75px;
      font-size: 14px;
      padding-top: 20px; }

  .besure {
    padding: 26px 0; }
    .besure h2 {
      font-size: 22px;
      line-height: 1.6;
      margin: 2px 0 36px 0; }
      .besure h2 div {
        font-size: 18px; }
    .besure h3 {
      font-size: 18px; }
    .besure p {
      font-size: 14px; }
    .besure hr {
      margin: 20px 0 30px; }

  .getdoc {
    padding: 13px 0 12px; }
    .getdoc h2 {
      font-size: 20px;
      margin: 12px 0 22px 0; }
    .getdoc input {
      margin-bottom: 8px;
      line-height: 57px; }
    .getdoc .button {
      width: 100%; }

  .profit h2 {
    font-size: 22px;
    margin: 8px 0 35px; }
  .profit h4 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 15px 0; }
  .profit ul {
    padding: 0 20px; }
  .profit li {
    font-size: 14px; }
  .profit .table, .profit .tr, .profit .td {
    display: block;
    width: 100%;
    padding: 0; }
  .profit .tr:nth-child(2n) .td:last-of-type,
  .profit .tr:nth-child(2n-1) .td:first-of-type {
    border: none; }
  .profit .tr .td:first-of-type {
    border: none; }
  .profit .date {
    border: none;
    position: relative;
    display: inline-block;
    padding: 0 45px;
    text-align: center;
    width: auto;
    font-family: ProximaNovaBold, "Open Sans", sans-serif;
    background-color: transparent;
    font-size: 12px;
    right: auto !important;
    left: auto !important;
    top: auto !important;
    height: auto; }
    .profit .date:before, .profit .date:after {
      content: "";
      position: absolute;
      width: 29px;
      height: 1px;
      background-color: #c4c4c4;
      top: 50%;
      top: calc(50% - 1px);
      left: 0; }
    .profit .date:after {
      left: auto;
      right: 0; }
    .profit .date div {
      font-family: ProximaNovaBold, "Open Sans", sans-serif;
      font-size: 12px;
      display: inline-block; }
    .profit .date-xs {
      text-align: center;
      margin: 40px 0 20px; }
  .profit .right .date {
    right: auto; }
  .profit .right ul {
    margin: 0; }
  .profit .left .date {
    left: auto; }
  .profit .left ul {
    margin: 0; }
  .profit .left h4 {
    margin: 0 0 24px 0; }

  .leaveorder__wrap {
    padding: 25px; }
  .leaveorder h2 {
    font-size: 18px;
    margin: 0; }
  .leaveorder .button {
    width: 100%; }
    .leaveorder .button__wrap {
      margin-bottom: 0; }

  .faq {
    padding: 10px 0 0; }
    .faq h2 {
      font-size: 22px;
      margin: 13px 0 18px; }
    .faq h4 {
      font-size: 16px; }
    .faq .panel-body {
      font-size: 14px; }

  .weare {
    padding: 10px 0 50px; }
    .weare h2 {
      font-size: 22px;
      margin: 16px 0 30px; }
    .weare h4 {
      font-size: 18px;
      margin: 19px 0 0; }
    .weare__sub {
      font-size: 14px;
      margin: 7px 40px; }
    .weare ul {
      margin: 26px 5px 30px 50px; }
    .weare__ask {
      left: auto;
      font-size: 12px; }
      .weare__ask-wrap {
        position: relative;
        left: auto;
        display: block; }
    .weare__card {
      padding: 20px 0; }

  .map h4 {
    font-size: 18px; }
  .map p {
    font-size: 14px; }
  .map__form {
    max-width: 100%;
    width: 100%; }

  .footer .logo {
    margin-bottom: 40px; }
  .footer .visible-xs ul {
    margin-top: 24px; } }

/*# sourceMappingURL=style.css.map */
