@import "config";





.header {
    padding-top: 25px;
    &__logo {
        //float:left;
        font-size: 12px;
        white-space: nowrap;
        span {
            margin: 5px 0 0 13px;
            display: inline-block;
        }
    }
    &__right {
        text-align: right;
        white-space: nowrap;
        span {vertical-align: middle;}
    }
    &__phone {
        a {
            color: #000;
            text-decoration: none;
            &:hover,&:active,&:focus {text-decoration: underline;}
        }
        font-family: $bold;
        font-size: 22px;
        margin-left: 24px;
    }
    &__slogan {
        font-size: 12px;
    }
    hr {
        margin: 7px 0 12px;

    }
    ul {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    li {
        float: left;
        list-style-type: none;
        //width: 20%;
        text-align: center;
        font-family: $regular;
        font-size: 14px;
        margin-right: 45px;
        a,a:hover,a:focus,a:active {
            color: #000;
        }
        &:last-of-type {margin: 0;}
        &:first-of-type {text-align: left;}
        //&:last-of-type {text-align: right;}
    }
    &__presentation {
        text-align: right;
        white-space: nowrap;
        font-family: $regular;
        font-size: 14px;
        img {margin-right: 12px;}
        a {color: #000;}
    }
}


.teaser {
    background: url("../img/teaser_bg.jpg") no-repeat 100% 0;
    margin: 15px 0 60px;
    position: relative;
    padding-top: 10px;
    &__gradient {
        width: 100%;
        height: 28px;
        background-image: linear-gradient(to top, #ffffff, #f5f5f5);
        //background-image: linear-gradient(to top, #ffffff, red);
        position: absolute;
        top: 0;
        left: 0;
    }
    h2 {
        font-family: $bold;
        font-size: 40px;
        line-height: 60px;
        margin: 50px 0 25px 0;
    }
    li {
        list-style-type: none;
        font-family: $regular;
        font-size: 20px;
        line-height: 2.2;
        padding-left: 50px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 27px;
            height: 2px;
            background-color: #a72428;
            top: 50%;
            top: calc(50% - 2px);
            left: 0;
        }
    }
}




.getpresent {
    background-color: #efefef;
    padding: 23px 0 13px;
    h2 {
        font-family: $bold;
        font-size: 20px;
        margin-bottom: 33px;
    }
    p {
        font-family: $regular;
        font-size: 12px;
        color: #b0b0b0;
        margin-top: 19px;
        a,a:hover,a:focus,a:active {color: #b0b0b0;}
        a {text-decoration: underline;}
        a:hover {text-decoration: none;}
    }
}



.who {
    padding-bottom: 37px;
    h2 {
        font-family: $bold;
        font-size: 32px;
        line-height: 1.5;
        text-align: center;
        margin: 60px 0 10px;
    }
    p {line-height: 24px;}
    .button__wrap {text-align: left;}
    &__margin {
        &-text {margin-top: 30px;}
    }

}



.calc {
    background-color: #efefef;
    padding: 24px 0 70px;
    &__padding {padding: 51px 43px 43px 43px;}
    &__container .container {
        border-radius: 3px;
        background-color: #fff;
        padding: 0;
        //width: 100%;
    }
    h2 {
        font-family: $bold;
        font-size: 32px;
        text-align: center;
    }
    &__input {
        font-family: $bold;
        font-size: 20px;
        margin-bottom: 33px;
    }
    &__slider1 {padding-right: 0;}
    &__slider2 {padding-left: 0;}

    &__slider-desc {
        font-family: $open;
        font-size: 14px;
        color: #555;
        margin-top: 20px;
        font-weight: bold;
    }
    &__head,&__head2 {
        font-family: $bold;
        font-size: 16px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0 110px;
        position: relative;
        margin: 70px 0 50px;
        &:before,&:after {
            content: "";
            position: absolute;
            width: 90px;
            height: 1px;
            background-color: #c4c4c4;
            top: 50%;
            top: calc(50% - 1px);
            left:0;
        }
        &:after {
            left: auto;
            right: 0;
        }
    }
    &__head {margin-top: 60px; margin-bottom: 37px;}
    &__head2 {
        margin: 44px 0 10px;
    }
    &__dohod {
        &-head {
            font-size: 14px;
            text-align: center;
            //display: inline-block;
            //border: dashed 1px red;
        }
        &-sum {
            font-family: $bold;
            font-size: 14px;
            text-align: center;
            //margin-top: 16px;
            span {font-size: 24px;}
        }
    }
    &__arrow {
        background: url("../img/arrow_right.png") no-repeat 100% 50%;
    }
    &__total {
        margin-bottom: 20px;
        font-family: $bold;
        font-size: 18px;
        text-transform: uppercase;
        span {font-size: 48px;}
    }
    &__return {
        display: none;
        background: url("../img/reds.png") repeat-x;
        line-height: 58px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        a {
            color: #fff;
            text-decoration: none;
            display: block;
            &:hover,&:focus,&:active {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}



.besure {
    padding: 26px 0 93px;
    h2 {
        font-family: $bold;
        font-size: 32px;
        line-height: 1.7;
        text-align: center;
        margin: 23px 0 60px;
        div {
            font-family: $regular;
            font-size: 24px;
        }
    }
    h3 {
        font-family: $bold;
        font-size: 24px;
    }
    img {margin: 0 auto;}
    hr {margin: 50px 0;}
}




.getdoc {
    background-color: #2ba95a;
    color: #fff;
    padding: 13px 0 15px;
    h2 {
        font-family: $bold;
        font-size: 32px;
        text-align: center;
        margin-bottom: 47px;
    }
    p {
        font-family: $regular;
        font-size: 12px;
        text-align: center;
        margin-top: 37px;
        a,a:hover,a:focus,a:active {color: #fff;}
        a {text-decoration: underline;}
        a:hover {text-decoration: none;}
    }
    .button {width: 100%;}
}


.compare {
    background-color: #efefef;
    padding: 40px 0;
    h2 {
        text-align: center;
        font-family: $bold;
        font-size: 32px;
        margin: 18px 0 53px;
    }
    &__wrap {
        //border: solid 1px #e2e2e2;
        //border-radius: 4px;
    }
    &__table2 {

    }
    &__table {
        display: table;
        border-collapse: collapse;
        width: 100%;
        font-family: $open;
        font-size: 14px;
        //background-color: #fff;
        .row {display: none; margin: 50px 0 30px;}
        .button {width: 100%;}
        &>div {
            display: table-row;
            background-color: #fff;
            color: #454545;
            &:first-of-type > div {
                //border-top: none;
                font-weight: bold;
                color: #000;}
            &:last-of-type {
                &> div {border-bottom: none;}
                & div {
                    background-color: #efefef;
                    border: none;
                }
                & div:nth-child(3n) {
                    border-top: none;
                    padding: 10px 20px;
                }
            }
            &:nth-child(7n) div:nth-child(3n) {border-bottom: none;}
            &>div {
                width: 22%;
                display: table-cell;
                border: solid 1px #e2e2e2;
                text-align: center;
                padding: 30px;
                vertical-align: middle;
                &:first-of-type {
                    //border-left: none;
                    text-align: left;
                    font-weight: bold;
                    color: #000;
                }
                //&:last-of-type {border-right: none;}
                &:nth-child(3) {
                    width: 34%;
                    background-color: #f9f4d6;
                    font-weight: bold;
                }
            }
        }
        a,a:hover,a:focus,a:active {
            color: #2ba95a;
            font-size: 11px;
            text-decoration: underline;
            text-transform: uppercase;
        }
        a:hover {text-decoration: none;}

    }
}



.profit {
    padding: 25px 0 0;
    .table {
        display: table;
        width: 100%;
    }
    .tr {
        display: table-row;
        &:last-of-type .td {padding-bottom: 0;}
    }
    .td {
        display: table-cell;
        width: 50%;
        position: relative;
        padding-bottom: 94px;
    }
    h2 {
        font-family: $bold;
        font-size: 32px;
        text-align: center;
        margin: 18px 0 88px;
    }
    h4 {
        margin: -50px 0 40px 0;
        font-family: $bold;
        font-size: 24px;
    }
    ul {
        margin-left: 20px;
        color: #25ba5d;
    }
    li {
        color: #25ba5d;
        margin-bottom: 12px;
        span {color: #454545;}
    }

    .tr:nth-child(2n) .td:last-of-type,
    .tr:nth-child(2n-1) .td:first-of-type
    {
        border-top: solid 2px #25ba5d;
    }
    .tr:last-of-type .td:last-of-type {
        border-top: none;
    }

    .tr .td:first-of-type {
        border-right: solid 2px #e2e2e2;
    }
    .date {
        position: absolute;
        top:-30px;
        width: 60px;
        height: 60px;
        text-align: center;
        border: solid 2px #25ba5d;
        background-color: white;
        color: #636363;
        font-family: $bold;
        font-size: 24px;
        line-height: 0.8em;
        border-radius: 5px;
        text-transform: uppercase;
        padding-top: 10px;
        div {
            font-family: $regular;
            font-size: 10px;
            //line-height: 0.5em;
        }
    }
    .right {
        .date {right:-30px;}
        ul {margin-right: 50px;}
    }
    .left {
        .date {left: -32px;}
        ul {margin-left: 100px;}
        h4 {margin-left: 80px;}
    }
}



.leaveorder {
    margin-bottom: 40px;
    &__wrap {
        background-color: #2ba95a;
        border-radius: 5px;
        padding: 19px 10% 28px;
    }
    .button {width: 300px;}
    h2 {
        font-family: $bold;
        font-size: 24px;
        text-align: center;
        color: #fff;
        margin-bottom: 45px;
    }
}


.faq {
    background-color: #efefef;
    padding: 40px 0 55px;
    h2 {
        font-family: $bold;
        font-size: 32px;
        text-align: center;
        color: #000;
        margin: 17px 0 46px;
    }
    a,a:hover,:active,a:focus {color: #000; text-decoration: none;}
    h4 {
        background: url("../img/arrow_down.png") no-repeat 99% 50%;
        font-family: $regular;
        font-size: 20px;
        margin: 0;
    }
    .arrow {background: url("../img/arrow_up.png") no-repeat 99% 50% !important;}
    .panel {
        background-color: #fff;
        border-radius: 5px;
        padding: 23px;
        margin-bottom: 20px;
        &-body {
            color: #454545;
            margin-top: 20px;
        }
    }
}





.weare {
    padding: 35px 0 50px;
    h2 {
        font-family: $bold;
        font-size: 32px;
        text-align: center;
        color: #000;
        margin: 17px 0 41px;
    }
    h4 {
        font-family: $bold;
        font-size: 24px;
        text-align: center;
        margin: 21px 0 6px;
    }
    &__sub {
        font-family: $regular;
        font-size: 16px;
        color: #555;
        text-align: center;
        margin: 0 40px;
    }

    img {
        margin: 0 auto;
        border-radius: 50%;
        width: 80px;
    }
    &__card {
        border: solid 1px #eaeaea;
        border-radius: 5px;
        padding: 30px 0;
        position: relative;
        &>p {text-align: center;}
    }
    ul {margin: 40px 10px 50px 43px;}
    li {
        font-family: $open;
        font-size: 14px;
        color: #2ba95a;
        margin-bottom: 10px;
        span {color: #000;}
    }
    &__ask {
        font-family: $open;
        font-weight: bold;
        text-transform: uppercase;
        color: #25ba5d;
        font-size: 14px;
        padding-left: 20px;
        background: url("../img/ask_green.png") no-repeat 0 50%;
        left: -50%;
        left: calc(-50% - 10px);
        position: relative;
        white-space: nowrap;
        &-wrap {
            position: absolute;
            bottom: 0;
            text-align: center;
            left: 50%;
        }
    }
}



.map {
    position: relative;
    height: 640px;
    margin-bottom: 45px;
    .gmaps {
        &_labels {
            background-color: white;
            padding: 30px;
            font-size: 16px;
            white-space: nowrap;
        }
    }
    &_place {
        position: absolute;
        height: 640px;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    &__form {
        z-index: 2;
        position: absolute;
        right: 0;
        top: 50px;
        border-radius: 5px;
        padding: 35px 35px 25px 35px;
        max-width: 380px;
        background-color: #f7f7f7;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
        h4 {
            font-family: $bold;
            font-size: 24px;
            margin: 0;
        }
        p {color: #363636;}
        textarea {
            width: 100%;
            margin-bottom: 10px;
            height: 120px;
        }
        input {
            width: 100%;
            margin-bottom: 20px;
        }
        .button {font-weight: 700;}
    }
    &__small {
        font-family: $regular;
        font-size: 12px;
        color: #9c9a9a !important;
        a,a:hover,a:focus,a:active {color: #9c9a9a;}
        a {text-decoration: underline;}
        a:hover {text-decoration: none;}
    }
}



.footer {
    margin-bottom: 20px;
    &__small {
        font-size: 12px;
        color: #7c7c7c;
        margin-top: 30px;
    }
    ul {
        list-style-type: none;
        font-size: 14px;
        line-height: 2;
        white-space: nowrap;
        a {color: #7c7c7c;}
    }
    &__phone {
        font-family: $bold;
        font-size: 24px;
        color: #363636;
        a {
            color: #363636;
            text-decoration: none;
            &:hover,&:active,&:focus {text-decoration: underline;}
        }
        &-desc {
            font-family: $regular;
            font-size: 14px;
            color: #7c7c7c;
        }
    }
}


#modal_return,#modal_callback {
    border: solid 1px #dbdbdb;
    width: 720px;
    margin: 50px auto;
    border-radius: 4px;
    .table {width: 100%;}
    .td {
        padding: 40px;
        width: 50%;
        vertical-align: top;
        background-color: #fff;
        &:first-of-type {border-right: solid 1px #dbdbdb;}
        &:last-of-type {background-color: #f7f7f7;}
    }
    h4 {
        font-family: $bold;
        font-size: 32px;
        margin: 0 0 10px 0;
    }
    h5 {
        font-family: $bold;
        font-size: 24px;
        margin: 0 0 20px 0;
    }
    p {margin-top: 0;}
    input,label,.button  {display: block; width: 100%;}
    form {margin-top: 25px;}
    .modal {
        &-input {
            font-weight: normal;
            margin-bottom: 14px;
        }
        &-info {
            font-family: $regular;
            font-size: 12px;
            color: #9c9a9a;
            margin-top: 22px;
            a,a:hover,a:active,a:focus {color: #9c9a9a;}
            a {text-decoration: underline;}
            a:hover {text-decoration: none;}
        }
        &-wrap {padding: 20px 30px;}

    }
    .form-hidden {display: none;}
}


#modal_callback {
    .td {
        border-right: none !important;
        background-color: #fff !important;
        padding: 0;
        &:first-of-type {padding-right: 20px;}
    }

}
.fancybox {
    &-close-small{
        &:after {
            content: "";
            background: url(../img/x.png) no-repeat;
            top: 15px;
            right: 15px;
            opacity: 0.5;
        }
        &:hover:after {
            background: url(../img/x.png) no-repeat;
            opacity: 1;
        }
    }
    &-slide>div {padding: 0;}
}


@import "media";